<!-- A simple, portrait template 01 -->

<!-- If we can find a way to swap the height and length values,
we will have a free landscape sheet that looks just as good!! -->

<div class="container">
  <div class="item IMG1">IMG1</div>
  <div class="item header">Header</div>
  <div class="item IMG2">IMG2</div>
  <div class="item content-6">Content-6</div>
  <div class="item content-1">Content-1</div>
  <div class="item content-2">Content-2</div>
  <div class="item content-3">Content-3</div>
  <div class="item content-4">Content-4</div>
  <div class="item content-5">Content-5</div>
  <div class="item footer">Footer</div>
</div>