.container {
  display: grid;
  width: 800px;
  height: 1100px;
  grid-template-columns: 1fr 150px 1fr;
  grid-template-rows: 50px 1fr 50px 1fr 50px 1fr 100px;
  grid-gap: .25rem;
  grid-template-areas:
      "IMG1 header IMG2"
      "content-1 content-2 content-3"
      "content-4 content-5 content-6"
      "content-7 content-8 content-9"
      "content-10 content-11 content-12"
      "footer1 footer2 footer3";
}

// Actually not sure if this code is needed--will have to see once it's 
// in the build properly.

.header {
  grid-area: header;
}
.sidebar {
  grid-area: sidebar;
}
.content-1 {
  grid-area: content-1;
}
.content-2 {
  grid-area: content-2;
}
.content-3 {
  grid-area: content-3;
}
.content-4 {
  grid-area: content-4;  
}
.content-5 {
  grid-area: content-5;
}
.content-6 {
  grid-area: content-6;
}
.content-7 {
  grid-area: content-7;
}
.content-8 {
  grid-area: content-8;
}
.content-9 {
  grid-area: content-9;
}
.content-10 {
  grid-area: content-10;
}
.content-11 {
  grid-area: content-11;
}
.content-12 {
  grid-area: content-12;
}





.footer1 {
  grid-area: footer1;
}
.footer2 {
  grid-area: footer2;
}
.footer3 {
  grid-area: footer3;
}



/* OTHER STYLES */

body {
  background-color: #3b404e;
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.item {
  background-color: #1EAAFC;
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #ffffff;
  border-radius: 4px;
  border: 6px solid #171717;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.header {
  background-color: #1EAAFC;
  background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}

.sidebar {
  background-image: linear-gradient(203deg, #3EDFD7 0%, #29A49D 90%)
}

.content-1,
.content-2,
.content-3 {
  background-image: linear-gradient(130deg, #6C52D9 0%, #1EAAFC 85%, #3EDFD7 100%);
}

.footer {
  background-color: #6C52D9;
  background-image: linear-gradient(160deg, #6C52D9 0%, #9B8AE6 127%);
}