.navBar {
  background: rgb(99,107,97);
  background: linear-gradient(180deg, #72788D 10%, #72788D 100%);
  padding-bottom: 5px;
  }
  .MuiToolbar-root {
  display: flex;
  justify-content: space-between;

  .MuiTypography-h6 {
    font-size: 1.5em;
    font-family: 'Monoton', cursive !important;
    // color: #F51443 !important

  }
}


// font-family: 'Londrina Outline', cursive;
// font-family: 'Monoton', cursive;

// font-family: 'Oswald', sans-serif