@import "../../styles/variables.scss";

.react-chatbot-kit-chat-container {
  position: fixed;
  bottom: 3vw;
  right: 2vh;
  z-index: 9999;
}

.BotButton {
  position: fixed;
  bottom: 0.01vw;
  right: 2vh;
  z-index: 9998;
}