.nav-options-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.nav-option-button {
  font-size: 10pt;
  padding: 0.3rem;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #282F44;
  margin: 3px;
}