@import "../styles/variables.scss";

.App {
  text-align: center;
}

.main {
  .grid-container {
    display: grid;
    grid-template-columns: 20fr 60% 20fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "left | main | right";
  }
}