@import "../styles/variables.scss";



body {
  height: 100%;
  // background: rgb(122,137,194);
  background: linear-gradient(0deg, rgba(122,137,194,1) 0%, rgba(227,215,255,1) 100%);
}

.main {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.MuiButton-root {
  font-family: 'Montserrat', sans-serif !important;
  text-transform: none !important;
  // color: #F51443 !important

}

.main {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

