@import "../../styles/variables.scss";
.right:hover {
  background: rgba(114, 120, 141, .4);
}
.right {
  position: absolute;
  right: 0;
  height: 1179px;
  width: $sidebar-width;
  border: 2px solid #72788D;
  border-top: 0px;
  box-shadow: -4px 4px 5px 0px #8672B3;
  padding-top: 5px;
  z-index: 20;
  background: rgba(114, 120, 141, .3);
  .text-container {
    margin-right: 15px;
    position: absolute;
    right: 100%;
    margin-top: -32px;
    width: 400px;
    height: 220px;

    background-color: #ffffff;
    z-index: 200;
    textarea {
      background-color: #f1f1f0;
    }
    .close {
      position: absolute;
      right: 100%;
      margin-top: -32px;
      background: inherit;
      color: red;
      z-index: 200;
      top: 10px;
      right: -50px;
    }
    button {
      font-family: 'Montserrat', sans-serif;
      
    }
    .custom-buttons {
      display: flex;
      justify-content: space-evenly;
      align-content: center;

      margin: 0;
      width: inherit
    }
    .textbox {
      width: 380px;
      height: 150px;
      margin: 8px;
      outline: none;
    }
    .MuiButton-root {
      font-size: 1em;
      height: 30px;
    }
    
    div[id^=font-picker]  {
      width: 20%;
      height: 80%;
      background-color: #ffffff;
      color: #000000;
      background: none !important;
      .dropdown-button {
        background: none;
      }
      .dropdown-button:hover, .dropdown-button:focus {
        background: none;
      }
    }
  }
  
  // for editing the text input box
  
  .MuiButton-root {
    color: white;
    background-color: #72788D;
    
  }

  
  
  // .button {
  //   background: blue;
  // }
  
  
  .pdf-appBar{
    .MuiAppBar-positionFixed {
      position: fixed;
    }
  }
}
iframe {
  height: 100% !important;
  margin-top: 64px; 
  #plugin {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-content: center;;
  } 
}