@import "../../styles/variables.scss";

.right {
  // grid-area: right;
  position: absolute;
  right: 0;
  height: 100%;
  width: $sidebar-width;
  border: 1px solid red;
}

.ql-editor {
  height: 150px !important;
  font-size: 14px
}

.ql-tooltip {
  display: none
}



iframe {
  height: 100vh !important;
  
}

.pdf-appBar{
  .MuiAppBar-positionFixed {
    position: relative;
  }
}