@import "../../styles/variables.scss";

.right {
  position: absolute;
  right: 0;
  height: 100%;
  width: $sidebar-width;
  border: 2px solid #72788D;
  border-top: 0px;
  box-shadow: -4px 4px 5px 0px #8672B3;
  padding-top: 5px;
  z-index: 20;
  background: rgba(114, 120, 141, .3);

.right:hover {
  background: rgba(114, 120, 141, .4);
}

.text-container {
  margin-right: $sidebar-width;
  position: absolute;
  right: 100%;
  margin-top: -32px;
  width: 400px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid red;
  z-index: 200;
}
  .close {
    position: absolute;
    right: 100%;
    margin-top: -32px;
    width: 400px;
    height: 200px;
    background-color: #ffffff;
    border: 1px solid red;
    z-index: 200;
    .close {
      position: absolute;
      background: inherit;
      color: red;
      top: -30px;
      right: -30px;
  }
    .textbox {
      width: 380px;
      height: 150px;
      border: none;
      outline: none;
    }
  }
  
  .ql-editor {
    height: 150px !important;
    font-size: 14px
  }
  
  .ql-tooltip {
    display: none
  }
  
  
  
  iframe {
    height: 100vh !important;
    
  }
  
  .pdf-appBar{
    .MuiAppBar-positionFixed {
      position: relative;
    }
  }
}
