@import "../../styles/variables.scss";

.canvas {
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  margin-left: $sidebar-width;
  margin-right: $sidebar-width;
  width: 850px;
  height: 1100px;
}

.canvas:hover {
  box-shadow: 0px 0px 5px 5px #FFFCD6;
}
