@import "../../styles/variables.scss";

.canvas {
  
  // grid-area: canvas;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  margin-left: $sidebar-width;
  margin-right: $sidebar-width;
  width: 850px;
  height: 1100px;
  border: 3px solid #72788D;
  box-shadow: 0px 0px 5px 5px #8672B3;
  // z-index: -10;
  // background-color: #E3D7FF;  
}

.canvas:hover {
  box-shadow: 0px 0px 5px 5px #FFFCD6;
}
