body {
  margin: 0;
  font-family: 'Galindo', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Monoton', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
}

// code {
//   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
//     monospace;
// }
